<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swarup | The UI Library</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Ajay1290/Swarup@0.0.1-alpha/dist/CSS/swarup.min.css">
</head>
<body>
    <!-- Navigation -->
    {% include './components/navbar.html' %}
    
    <main class="my-2 ">
        {% block main %}
        {% endblock main %}
    </main>

    <!-- Footer -->
    {% include './components/footer.html' %}
    
    <script src="https://cdn.jsdelivr.net/gh/Ajay1290/Swarup@0.0.1-alpha/dist/JS/swarup.min.js"></script>
    <script src="{{ url_for('static', filename='../static/power.js') }}"></script>
</body>
</html>