<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %} {% endblock meta %}

    {% if config.title %} <title>{{ config.title }}</title>
    {% else %} <title>{% block title %}{{ config.name }} | {{ config.description }}{% endblock title %}</title> {% endif %}

    <!-- Styles -->
    {% block styles %} {% endblock styles %}
</head>

<body>
    <!-- Navigation -->
    {% block nav %} {% endblock nav %}

    <!-- Main Content -->
    <main> {% block content %} {% endblock content %} </main>

    <!-- Footer -->
    {% block footer %} {% endblock footer %}

    <!-- Scripts -->
    {% block scripts %} {% endblock scripts %}
</body>

</html>