<footer>
    <div class="sw-row">
        <div class="sw-col-5">
            <h1 class="f-30">Swarup</h1>
            <h2 class="sub-lead f-22">
                The UI Library to build theme-based,<br> 
                text-friendly and responsive sites quikly.
            </h2>
        </div>
        <div class="sw-col-3">
            <h1 class="f-28">Docs</h1>
            <ul>
                <li>Documentation</li>
                <li>Components</li>
                <li>API</li>
                <li>Examples</li>
            </ul>
        </div>
        <div class="sw-col-3">
            <h1 class="f-28">Resources</h1>
            <ul>
                <li>Github</li>
                <li>Download</li>
            </ul>
        </div>
    </div>
    <div class="text-center copy-write">Copyright 2020 Ajay Patil. Built with Chulbul</div>
</footer>