<nav class="sw-navbar">
    <a href="/" class="sw-navbar-logo">Swarup</a>
    <div class="sw-navbar-nav">
        <a href="/docs" class="sw-navbar-link"> Documentation </a>
        <a href="/docs/components" class="sw-navbar-link"> Components </a>
        <a href="/docs/api" class="sw-navbar-link"> API </a>
        <a href="/docs/examples" class="sw-navbar-link"> Examples </a>
    </div>
    <div class="sw-navbar-nav ml-auto">
        <a href="https://github.com/Ajay1290/Swarup" target="_blank" class="sw-navbar-link"> Github </a>
        <a href="/docs" class="sw-navbar-link"> Download </a>
    </div>
</nav>