.pad{
    position: relative;
    display: block;
    height: 100vh;
    width: 100%;
    padding: 3em;

}

main{
    position: relative;
    display: block;
    min-height: 90vh;
    width: 100%;
}

.lead{
    font-size: 44px;
    line-height: 1.1em;
}

.sub-lead{
    font-size: 28px;
    line-height: 1.1em;
}

footer{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--theme-primary);
    padding: 25px 50px 10px 50px;
    color: #fff;
}

.copy-write{
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}


/* docs */
.doc-sidebar{
    position: fixed;
    display: block;
    width: 250px;
    border-right: 1px solid #434343 ;
    height: 100vh;
}